<div *ngIf="info.token; else loggedOut">
  <div class="row">
    <div class="col">
      <app-point-graph class="col-sm-6" (addEvent)="tableComponent.addPoint($event)" #graphComponent></app-point-graph>
      <app-point-form class="col-sm-6" (addEvent)="tableComponent.addPoint($event);graphComponent.addPoint($event)" (rChangeEvent)="graphComponent.refresh($event)"></app-point-form>
    </div>
    <app-point-table class="col-sm-6" #tableComponent></app-point-table>

  </div>


</div>

<ng-template #loggedOut>
  <h1 class="text-info text-center ">Please login.</h1>
</ng-template>
